@model TechTask.Models.PasswordViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<form asp-controller="Register" asp-action="ConfirmPassword" novalidate>
    <div class="div-flex">
        <div>
            
            <div class="div-form">
                <label asp-for="Pass" class="label-contact-info">PASSWORD:</label>
                <input type="password" asp-for="Pass" class="form-control" required maxlength="25"/>
                <span asp-validation-for="Pass" class="validation"></span>
            </div>
            <div class="div-form">
                <label class="label-contact-info" asp-for="ConfirmPass">CONFIRM PASSWORD:</label>
                <input type="password" asp-for="ConfirmPass" class="form-control" required maxlength="25"/>
                <span asp-validation-for="ConfirmPass" class="validation" data-title="Passwords must be the same"></span>
            </div>
            <div class="div-form">
                <label class="label-contact-info" asp-for="IsTermsAccepted">I have read and accept the terms of use</label>
                <input type="checkbox" asp-for="IsTermsAccepted" class="form-control"/>
            </div>
        </div>
        <div class="password-instructions" style="margin-left: 100px; margin-top: 30px">
            <div class="div-flex" style="height: 20px">
                <p class="text-password-instructions">Instructions:</p><div class="password-validation-mark">!</div>
            </div>
            <br>
            <p class="text-password-instructions">Password must include:</p>
            <p class="text-password-instructions">- at least 8 characters</p>
            <p class="text-password-instructions">- an UPPER case letter</p>
            <p class="text-password-instructions">- a lower case letter</p>
            <p class="text-password-instructions">- a number</p>
        </div>
    </div>
    <div class="btn-div  btn-style">
        <input value="Back" type="submit" onclick="prevClick()" asp-controller="Register" asp-action="ConfirmPassword" asp-route-button="prev">
        <input value="Next" type="submit" onclick="nextClick()" asp-controller="Register" asp-action="ConfirmPassword" asp-route-button="next">
    </div>
</form>